<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">State</h5>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        State
      </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div *ngFor="let user of users$">
                    <p class="dropdown-item">{{ user.region }}</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>