<div class="card">
    <h5 class="card-header">Selected State:</h5>
    <div class="card-body">
        <h5 class="card-title">At least One Measure</h5>
        <p class="card-text">
            something
        </p>
        <h5 class="card-title">Immunization measure</h5>
        <p class="card-text">
            something
        </p>
        <h5 class="card-title">Reportable Results</h5>
        <p class="card-text">
            something
        </p>
        <h5 class="card-title">Syndromatic Measure</h5>
        <p class="card-text">
            something
        </p>
        <h5 class="card-title">Registry Measure</h5>
        <p class="card-text">
            something
        </p>
    </div>
</div>